

.quoteBox{
  background-color: black;
  height: 50%;
  width: 50%;
  color: white;
}
.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}
/*.button{
  margin: auto;
  border: 3px solid pink;
  padding: 10px;
  text-align: center;
}*/

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
/*background image css*/
  body {
    background-color: #777777;

}


.image1 {
	background-repeat: no-repeat;
	background-color: rgba(119, 119, 119, 0.4);
	background-image: url(images/Chieftain.png);
}

.image2 {
  background: url(https://s-media-cache-ak0.pinimg.com/736x/2a/73/f6/2a73f6830b0a355ad7800dc9e8ad572e.jpg);
  background-repeat: no-repeat;
    background-size: 30em 40em;
      background-color: rgba(119, 119, 119, 0.4);
}

.image3 {
  background: url(https://s-media-cache-ak0.pinimg.com/236x/05/c1/55/05c155084fa1aad3367714ca96acc877.jpg);
  background-repeat: no-repeat;
    background-size: 30em 40em;
      background-color: rgba(119, 119, 119, 0.4);
}

.image4 {
  background: url(https://s-media-cache-ak0.pinimg.com/236x/29/7a/f3/297af31daba9029557b43281441fc1c6.jpg);
  background-repeat: no-repeat;
    background-size: 30em 40em;
      background-color: rgba(119, 119, 119, 0.4);

}
